<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/todoist.css') }}"> 
    <link rel="icon" type="image/png" sizes="192x192" href="{{ url_for('static', filename='images/favicon-192.png') }}">
    <link rel="apple-touch-icon" type="image/png" sizes="180x180" href="{{ url_for('static', filename='images/favicon-180.png') }}">
    <title>FiftyList - Export To Todoist.</title>
</head>
<body class="App">
    <div class="container">
        <div class="blobs">
            <div class="blob big-blob"></div>
            <div class="blob"></div>
            <div class="blob"></div>
            <div class="blob"></div>
            <div class="blob"></div>
            <div class="blob"></div>
            <div class="blob"></div>
        </div>

        <div class="glass-cover"></div>
        <div class="card">
            <h1 class="overlay__title">
                <h2 class="app-title">FiftyList - Export To Todoist.</h1>
                <form action="/export_todoist" method="POST">
                        <h5 class="description">To save your songs data, please provide your Todoist API Token.</h5>
                        <p class="explanation">Your API Token is used to automate this exporting process to Todoist. If you have any questions or concerns, please check the Todoist <a href="https://todoist.com/help/articles/find-your-api-token" target="_blank" class="link">API Token guide</a>.</p>
                        <div class="label-input">
                            <label for="api_key">API Token:</label>
                            <input type="text" id="api_key" name="api_key" required>
                        </div>
                        <div class="button-container">
                            <input type="button" value="Close" class="close-button" onclick="window.close();">
                            <input type="submit" value="Next" class="generate-button">
                </form>
            </h1>
        </div>    
    </div>
</body>
</html>
